@charset "utf-8";
@font-face {
    font-family: alegreya;
    src: url(fonts/Alegreya-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: alegreya extrabold italic;
    src: url(fonts/Alegreya-ExtraBoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: alegreya bold;
    src: url(fonts/Alegreya-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}







    p {font-family: 'Alegreya',serif ;}
    li{font-family: 'Alegreya',serif ;}
h1 {font-family: 'alegreya extrabold italic',serif ;}
h2 {font-family: 'alegreya bold',serif ;}